.colorSelect {
  cursor: pointer;
  display: inline-block;
  width: auto;
}

.form {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
}

.label {
  cursor: pointer;
}

.radios {
  display: inline-block;
}
