.multilineVoronoiChart {
  position: relative;

  .axis path,
  .axis line {
    fill: none;
    shape-rendering: crispEdges;
    stroke: #000;
  }

  .cities {
    fill: none;
    stroke: #aaa;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.5px;
  }

  .cityHover {
    stroke: #000;
  }

  .focus text {
    text-anchor: middle;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  }

  .voronoi path {
    fill: none;
    pointer-events: all;
  }

  .voronoiShow path {
    stroke: red;
    stroke-opacity: 0.2;
  }
}

#formVoronoi {
  position: absolute;
  right: 30px;
  top: 20px;
}
