.timeline-chart
  text
    text-shadow: .5px .5px .5px #ccc;
  .axis
    fill: #808080;
    font-family: sans-serif;
    font-size: 10px;

  .axis line
    stroke-width : 1;
    stroke: grey;
    shape-rendering: crispEdges;

  .axis path
    stroke-width : 1;
    stroke: grey;
    shape-rendering: crispEdges;

  .band
    fill: #FFFFFF;

  .bandLabel
    fill: #F0F0F0;
    font: 10px sans-serif;
    font-weight: bold;

  .bandMinMaxLabel
    fill: #11AA6A;
    font: 10px sans-serif;
    font-weight: bold;

  .bandMidLabel
    cursor: default;
    fill: #BC79C5;
    font: 10px sans-serif;
    font-style: italic;
    font-weight: bold;

  .brush .extent
    stroke: gray;
    fill: #71D7E5;
    fill-opacity: .1;

  .chart
    fill: #EEEEEE;

  .interval
    fill: #ECF7F7;
    cursor : default;
    pointer-events: true;
    rect
      stroke-width: .5px;
      stroke: black;

  .instant
    fill: #AFCAE7;
    cursor : default;

  .instantLabel
    fill : #7E7E7E;
    font: 10px sans-serif;
    shape-rendering: crispEdges;

  .intervalLabel
    fill : black;
    font: 10px sans-serif;
    shape-rendering: crispEdges;

  .item
    cursor : default;
    pointer-events: auto;