.area-chart
  path.line
    fill none
    stroke #25A6FC
    stroke-width 3.5px

  path.area
    fill #6E6EA7
    opacity .5

  text
    text-shadow 1px 1px 1px #ddd

  .axis
    shape-rendering crispEdges
    fill #333

  .chart-title
    font-weight bold

  .x.axis .minor
    fill #000

  .axis path,
  .axis line
    fill none
    shape-rendering crispEdges
    stroke #ccc

  .y.axis line, .y.axis path,
  .x.axis line, .x.axis path
    fill none
    stroke #ccc

  .voronoi
    fill black
    opacity 0
    stroke black
    stroke-width .1

  .voronoi.show-voronoi
    fill rgba(0,0,0,0)
    opacity 1
    stroke-width 1

  .point
    display none
    fill #69D895
