.collapsible-tree-chart
  .node
    cursor: pointer

  .node circle
    fill: #fff
    stroke-width: 1.5px
    stroke: steelblue

  .node text
    font: 10px sans-serif

  .link
    fill: none
    stroke-width: 1.5px
    stroke: #ccc
