{
  "experimentalBabelParserPluginsList": ["jsx", "typescript"],
  "importOrder": [
    "^[^.@]",
    "^@[^/]",
    "^@/common",
    "^@/components",
    "^@/demos",
    "^@/",
    "^\\.\\.",
    "^\\.",
    "\\.css$"
  ],
  "importOrderSeparation": true,
  "semi": false
}
