<div class="page-header">
    <h1 class="row">
        <span class="col-lg-8"><a href="/">Demos</a> <small>interactive data visualization examples</small></span>
        <span class="col-lg-4">
            <iframe src="http://ghbtns.com/github-btn.html?user=igncp&repo=demos&type=watch"
  allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
            <iframe src="http://ghbtns.com/github-btn.html?user=igncp&repo=demos&type=follow"
  allowtransparency="true" frameborder="0" scrolling="0" width="119" height="20"></iframe>
            <iframe src="http://ghbtns.com/github-btn.html?user=igncp&repo=demos&type=fork"
  allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
        </span>
    </h1>
</div>