<html>
<head>
    <%- partial('_head') %>
</head>
<body>
    <div id="container" class="row">
        <div class="col-lg-offset-1 col-lg-10">
            <%- partial('_page_title') %>
            <%- body %>
        </div>
    </div>

    <%- partial('_footer') %>

</body>
</html>