.chartTitle {
  font-weight: bold;
}

.chord {
  fill-opacity: 0.75;
  stroke-width: 0.75;
}

.group text {
  font: 10rem sans-serif;
  pointer-events: none;
}

.group path {
  stroke: #000;
}

.groupLabel {
  font-size: 14px;
}
