.chord-chart
    path.chord {
      stroke-width: .75;
      fill-opacity: .75;
    }
    
    .chart-title
        font-weight bold

    .group text {
      font: 11px sans-serif;
      pointer-events: none;
    }

    .group path {
      stroke: #000;
    }

    .heading-title
        font-weight bold
        font-size 15px