.chord-chart
  path.chord
    fill-opacity: .75
    stroke-width: .75

  .chart-title
    font-weight bold

  .group text
    font: 11px sans-serif
    pointer-events: none

  .group path
    stroke: #000

  .heading-title
    font-size 15px
    font-weight bold
