.map-distorsions-chart
  svg
    font-family: sans-serif
    text-shadow 1px 1px 1px #ddd

  .background path
    fill: none
    pointer-events: stroke
    stroke-width: 20px
    stroke: none

  .foreground path
    fill: none
    stroke-width: 1.5px

  .axis
    font-size 12px

  .axis .title
    font-family: Times New Roman
    font-size: 11px
    font-weight: bold
    text-transform: uppercase

  .axis line,
  .axis path
    fill: none
    shape-rendering: crispEdges
    stroke: #000

  .label
    -webkit-transition: fill 125ms linear

    &.inactive
      fill: #ccc !important

  .active .label:not(.inactive)
    font-weight: bold

  .foreground path.inactive
    stroke-opacity: .5
    stroke-width: 1px
    stroke: #ccc !important
