.meteorite {
  fill: orange;

  &:hover {
    fill: blue;
  }
}

.meteorite.active {
  fill: red;
}

.meteorite.moved {
  fill: green;
}

.countryTooltip {
  background: #ffccfc;
}

.modal {
  background: #fff;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.56);
  left: 100px;
  padding: 15px;
  position: absolute;
  z-index: 10;
}
