.countryTooltip {
  background: #ffccfc;
}

.infoTrigger {
  cursor: pointer;
  opacity: 0.7;
  transition: linear 0.5s opacity;

  circle {
    fill: #fff;
    stroke: #ccc;
  }

  text {
    fill: white;
    font-size: 30px;
    stroke: black;
    text-anchor: middle;
    transform: translate(0, 10px);
  }

  &:hover {
    opacity: 1;

    text {
      fill: green;
    }
  }
}

.meteorite {
  fill: orange;

  &:hover {
    fill: blue;
  }
}

.meteorite.active {
  fill: red;
}

.meteorite.moved {
  fill: green;
}

.modal {
  background: #fff;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.56);
  left: 100px;
  padding: 15px;
  position: absolute;
  z-index: 10;
}
