.area-chart
  body 
    font 10px sans-serif
    margin 0
    padding-left 25px
    background-color yellow
    color hotpink
  

  path.line 
    fill none
    stroke hotpink
    stroke-width 3.5px
  

  path.area 
    fill yellowgreen
  

  .axis 
    shape-rendering crispEdges
    fill red
  


  .x.axis .minor 
    stroke-opacity .5
    fill red
  

  .axis path,
  .axis line 
    fill none
    stroke red
    shape-rendering crispEdges
  



  .y.axis line, .y.axis path 
    fill none
    stroke blue