.area-chart
  path.line 
    fill none
    stroke #25A6FC
    stroke-width 3.5px
  
  path.area 
    fill #6E6EA7
    opacity .5

  text
    text-shadow 1px 1px 1px #ddd
  
  .axis 
    shape-rendering crispEdges
    fill #333

  .title
    font-weight bold
  
  .x.axis .minor 
    fill #000
  
  .axis path,
  .axis line 
    fill none
    stroke #ccc
    shape-rendering crispEdges

  .y.axis line, .y.axis path, 
  .x.axis line, .x.axis path
    fill none
    stroke #ccc