.fish-eye-chart
    text {
      font: 10px sans-serif;
    }

    .background {
      fill: none;
      pointer-events: all;
    }

    #chart {
      margin-left: -40px;
      height: 506px;
    }

    #chart .background {
      fill: #ddd;
    }

    #chart .dot {
      stroke: #000;
    }

    .axis path, .axis line {
      fill: none;
      stroke: #eee;
      shape-rendering: crispEdges;
    }