<ul class="list-group">
    <% demos.forEach(function(demo, index){ %>
        <a class="list-group-item" href="<%= demo.route %>"> <span class="home-demo-number"><%= index + 1 + indexOffset %>.-</span> <span class="home-demo-name-link"><%= demo.name %></span><div class="bullet <%= demo.category %>">&#8226;</div></a>
    <% }); %>
</ul>