<p>Here there are <i>some interactive data visualization demos</i> that are built with examples found on the web, which I've slightly modified sometimes with ideas from other examples. The sources are always available. At this point, the main data visualization library is: <a href="http://d3js.org/">D3.js</a></p>
<div class="row">
    <div class="col-lg-offset-1 col-lg-3">
        <ul class="list-group" id="d3js-list">
        <% demos.forEach(function(demo, index){ %>
            <li class="list-group-item"><%= index + 1%>.- <a href="<%= demo.route %>"><%= demo.name %></a></li>
        <% }); %>
        </ul>
    </div>
</div>