<% 
    var numberPerGroup = Math.ceil(demos.length/2);
    var groupedDemos = [];
    groupedDemos[0] = demos.slice(0, numberPerGroup);
    groupedDemos[1] = demos.slice(numberPerGroup, demos.length);
%>

<p>Here there are some <i>interactive data visualization demos</i> that are built with examples found on the web, which I've rewritten to CoffeeScript, and sometimes modified with ideas from other examples. The sources are always available. At this point, the main data visualization library is: <a href="http://d3js.org/">D3.js</a></p>
<div class="row" id="demos-lists">
    <div class="col-lg-offset-2 col-lg-3">
        <%- partial('_demos_list', {demos: groupedDemos[0], indexOffset: 0}) %>
    </div>
    <div class="col-lg-offset-2 col-lg-3">
        <%- partial('_demos_list', {demos: groupedDemos[1], indexOffset: numberPerGroup}) %>
    </div>
</div>