<h2 class="row" id="demo-title">
    <span class="col-lg-10"><%= demoTitle %> <small id="main-source">main source: <a href="<%= sources[0] %>">···</a></small></span>
    <span class="col-lg-2"><a href="/" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Home</a></span>
</h2>