<% info = demosInfoSe.getInfo(category, key); %>
<% if (info.notes.length) { %>
    <div id="notes" class="bs-callout bs-callout-info">
        <p><strong>Notes:</strong></p>
        <ul>
            <% info.notes.forEach(function(note){ %>
                <li><%- note %></li>
            <% }); %>
        </ul>
    </div>
<% }; %>