<% info = demosInfoSe.getInfo(category, key); %>
<p><strong>Sources:</strong></p>
<ul>
    <% info.sources.forEach(function(source, index){ %>
        <li><span class="source-number">[<%= index + 1 %>]</span>: <a href="<%= source %>"><%= source %></a></li>
    <% }); %>
</ul>