<div id="sources-list"  class="bs-callout bs-callout-primary">
    <% info = demosInfoSe.getInfo(category, key); %>
    <p><strong>Sources:</strong></p>
    <ul>
        <% info.sources.forEach(function(source, index){ %>
            <li><span class="source-number">[<%= index + 1 %>]</span>: <a href="<%= source %>"><%= source %></a></li>
        <% }); %>

    </ul>
</div>

<% if (info.data.length > 0) { %>
<div id="data-list"  class="bs-callout bs-callout-warning">
    <p>
        <strong>Data: </strong>
        <% var links = []; info.data.forEach(function(file, index){ links.push('<a href="/data/' + category + '/' + key + '/' + file +  '">' +  file + '</a>') }); %>
        <%- links.join(", ") %>
    </p>
</div>
<% }; %>    
