.trend-line-chart
  .axis 
    font: 10px sans-serif;
  

  .axis path,line 
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  

  .line 
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  

  .rline 
    fill: none;
    stroke: red;
    stroke-dasharray: 5,5;
    stroke-width: 1.5px;