.trend-line-chart
  .axis
    font: 10px sans-serif

  .axis path,line
    fill: none
    shape-rendering: crispEdges
    stroke: #000

  .line
    fill: none
    stroke-width: 1.5px
    stroke: steelblue

  .rline
    fill: none
    stroke-dasharray: 5,5
    stroke-width: 1.5px
    stroke: red
