.bars-chart
    axis-color = #777
    rect
        stroke white

    .axis
        path
            fill none
            stroke axis-color
            stroke-width 1px
        .tick line
            stroke axis-color
