// Bootstrap docs bs-callout

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;

  h4 {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
  code,
  .highlight {
    background-color: #fff;
  }
}
 
.bs-callout-success {
  border-color: #93B193;
}
.bs-callout-warning {
  border-color: #f1e7bc;
}
.bs-callout-info {
  border-color: #d0e3f0;
}

.bs-callout-primary {
  border-color: #768CA0;
}