@import 'nib'

a:hover, a:focus
    text-decoration none
    
body
    color #6D6D77

form
    text-align center
    input[type=radio]
        margin-left 20px

.gist-data
    background-color #FFF !important

.gist-it-gist .gist-file
    border-color #ddd !important
    box-shadow(1px 1px 10px 1px #ccc)
    div
        padding 20px

.home-demo-name-link
    color #4FB142

.row { margin: 0px; }

.source-number
    color #B91515
    font-weight bold

.back-home { text-align: right; }

#chart
    border-radius 10px
    box-shadow(0px 0px 20px .1px #ddd)
    margin-bottom 20px
    overflow hidden

#data-list, #sources-list
    margin-bottom 30px

#demos-lists
    margin-top 60px

#demo-title { margin-bottom: 20px; }

#main-source
    color #bbb

#notes
    margin-top 30px
    margin-bottom 30px

#sources-list
    margin-top 30px
    

@import '_d3js'
@import '_highlight'
@import '_sticky_footer'