@import "./mixin.css";

/* stylelint-disable selector-class-pattern */

.bs-callout {
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  margin: 20px 0;
  padding: 20px;

  h4 {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }

  @mixin mobile-only {
    ul {
      list-style: none;
      padding: 0;
    }
  }
}

.bs-callout-success {
  border-color: #93b193;
}

.bs-callout-warning {
  border-color: #f1e7bc;
}

.bs-callout-info {
  border-color: #d0e3f0;
}

.bs-callout-primary {
  border-color: #768ca0;
}

.bs-callout-secondary {
  border-color: #b46fc7;
}

.bs-callout-summary {
  border-color: #ed8cc5;
}

@media only screen and (max-width: 600px) {
  .bs-callout ul {
    padding-inline-start: 0;
  }
}
