pre
    background #FFFFFF
    box-shadow(1px 1px 10px 1px #ccc)
    border-radius(10px)
    margin-bottom 30px

.hljs
    background #FFFFFF

    .hljs-string
        color #4D97F5

    .hljs-keyword
        color #2CBD72

    .hljs-title
        color #DD2323

    .hljs-number
        color #DB1FB6
        font-weight bold

    .vbscript
        color #228B37

    .hljs-value
        color #50B43D
        .hljs-number
            color #50B43D

    .hljs-hexcolor
        color #4762CE

    .hljs-tag, .hljs-id, .hljs-class
        color #C59C44

    .hljs-attribute
        color #CF3D48
