.backHome {
  padding: 0;
  text-align: right;
}

@media screen and (max-width: 530px) {
  .backHome {
    display: none;
  }
}

.bullet {
  font-size: 30px;
  text-shadow: 0.5px 0.5px 1px #444;

  &.d3js {
    color: #9ac99d;
  }

  &.raphael {
    color: orange;
  }

  &.storybook {
    color: purple;
  }

  &.testing {
    color: yellow;
  }
}

.notes {
  margin-bottom: 30px;
  margin-top: 30px;
}

.sourceNumber {
  color: #b91515;
  font-weight: bold;
}

.pageHeader {
  border-bottom: 1px solid #eee;
  font-family: Lobster, cursive;
  margin: 40px 0 20px;
  padding-bottom: 9px;

  a {
    color: #324297;
  }

  h1 {
    font-size: 4em;
    text-shadow: 1px 1px 1px #ddd;
  }

  small {
    color: #9bb9a8;
    font-size: 0.5em;
  }
}

#demosLegend {
  text-align: center;

  ul {
    display: inline-block;
    list-style-type: none;
    margin-top: 10px;
    padding: 10px 20px 10px 30px;
    text-align: left;
  }

  li {
    display: inline-block;
    position: relative;

    &:first-child {
      margin-right: 30px;
    }
  }

  .bullet {
    left: -15px;
    position: absolute;
    top: -10px;
  }
}

#demosLists {
  font-size: 1.1em;
  letter-spacing: 1px;
  margin-top: 15px;

  a {
    background-color: rgba(145 145 145 / 8%);
    padding-left: 20px;
    transition: 0.5s linear background-color;

    &.highlightStorybook {
      background-color: #fff4fe;

      &:hover {
        background-color: #ffe2f9;
      }
    }

    &.highlightTesting {
      background-color: #ffffe6;

      &:hover {
        background-color: #f5f59a;
      }
    }

    &:hover {
      background-color: rgba(145 172 196 30%);
      font-weight: bold;
    }

    .bullet {
      left: -30px;
      position: absolute;
      top: 0;
    }
  }
}

#demoWip {
  border: 1px solid orange;
  border-radius: 5px;
  color: orange;
  cursor: default;
  margin-left: 10px;
  padding: 10px;
}

#demoTitle {
  margin-bottom: 20px;
}

#mainSource {
  color: #bbb;
}

#dataList,
#sourcesList {
  margin-bottom: 30px;
}

#sourcesList {
  margin-top: 30px;
}

#ghButtons {
  padding: 0;
  text-align: right;
}

:global #chart {
  border-radius: 10px;
  box-shadow: 0 0 20px 0.1px #ddd;
  margin-bottom: 20px;
  overflow: hidden;
}
