::-moz-selection {
  color: #ccc;
  background-color: rgba(0,0,0,0);
}

::selection {
  color: #ccc;
  background-color: rgba(0,0,0,0);
}

a:hover, a:focus
  text-decoration none

body
  color #6D6D77

  .tooltip.top
    z-index: 10
    margin-left: 20px;
    opacity: .9
    .tooltip-inner
      background-color: white;
      border: 1px solid #ccc;
      box-shadow: 0px 0px 5px .5px #ddd;
      color: black;
    .tooltip-arrow
      display: none

form
  text-align center
  input[type=radio]
      margin-left 20px

ul
  list-style-type circle

.bullet
  font-size 30px
  text-shadow 0.5px 0.5px 1px #444

  &.d3js
    color #9AC99D
  &.raphael
    color #7FA2BE

.home-demo-name-link
  color #67777A

.home-demo-number
  font-weight bold

.page-header
  font-family: 'Lobster', cursive
  a
    color #324297
  h1
    font-size 4em
    text-shadow 1px 1px 1px #ddd
  small
    color #9BB9A8
    font-size .5em

.row { margin: 0px; }

.source-number
  color #B91515
  font-weight bold

#chart
  border-radius 10px
  box-shadow: 0px 0px 20px .1px #ddd;
  margin-bottom 20px
  overflow hidden

#code pre
  border 1px solid #3A9E4A
  box-shadow: inset 0 0 8px .1px #ddd;

#data-list, #sources-list
  margin-bottom 30px

#demos-legend
  text-align center

  ul
    display inline-block
    list-style-type none
    margin-top 10px
    padding 10px 20px 10px 30px
    text-align left
  li
    position relative
    display inline-block
    &:first-child
      margin-right 30px
  .bullet
    position absolute
    left: -15px;
    top: -10px


#demos-lists
  letter-spacing 1px
  margin-top 15px
  font-size 1.1em

  a
    padding-left 20px
    background-color rgba(145, 145, 145, 0.08)
    transition .5s linear all

    &:hover
      padding-left 25px
      background-color rgba(145, 172, 196, 0.3)

    .bullet
      left -30px
      position absolute
      top 0px


#demo-title { margin-bottom: 20px; }

#main-source
  color #bbb

#notes
  margin-top 30px
  margin-bottom 30px

#sources-list
  margin-top 30px

@import '_callout'
@import '_highlight'
@import '_sticky_footer'
