<% 
    var mixins = {};
    mixins.demoTitle = 'Collapsible Tree chart'
    mixins.sources = ['http://bl.ocks.org/mbostock/4339083'];
%>

<%- partial('../mixins/_demo_title', mixins) %>

<div id="chart" class="collapsible-tree-chart"></div>

<script type="text/javascript" src="/vendors/bower/d3/d3.min.js"></script>
<script type="text/javascript" src="/js/d3js/collapsible-tree.js"></script>

<%- partial('../mixins/_sources', mixins) %>