<% 
    var mixins = {};
    mixins.demoTitle = 'Force chart'
    mixins.sources = ['http://codepen.io/MidnightLightning/pen/dclbA'];
%>

<%- partial('../mixins/_demo_title', mixins) %>

<div id="chart" class="force-chart"></div>

<script type="text/javascript" src="/vendors/bower/d3/d3.min.js"></script>
<script type="text/javascript" src="/js/d3js/force.js"></script>

<%- partial('../mixins/_sources', mixins) %>