<%  demo = {category: 'd3js', key: 'force'}; %>

<%- partial('../mixins/_demo_title', demo) %>

<div id="chart" class="<%= demo.key %>-chart"></div>

<script type="text/javascript" src="/vendors/bower/d3/d3.min.js"></script>
<script type="text/javascript" src="/js/d3js/force.js"></script>

<%- partial('../mixins/_notes', demo) %>
<%- partial('../mixins/_sources', demo) %>