<% 
    var mixins = {};
    mixins.sources = ['http://codepen.io/nishidh41/pen/Frzhq'];
%>

<h2>Pie chart</h2>
<p><button class="change-data btn btn-success">Change</button> [Under construction]</p>
<div id="chart"></div>

<%- partial('../mixins/_sources', mixins) %>

<script type="text/javascript" src="/vendors/bower/d3/d3.min.js"></script>
<script type="text/javascript" src="/js/d3js/pie_chart.js"></script>