$perspective: perspective(2000px);

@keyframes flipLeft {
  0% {
    transform: $perspective rotateY(90deg) skewY(-1deg);
  }

  60% {
    transform: $perspective rotateY(-25deg) skewY(-0.8deg);
  }

  80% {
    transform: $perspective rotateY(20deg) skewY(0.8deg);
  }

  90% {
    transform: $perspective rotateY(-10deg) skewY(-0.8deg);
  }

  100% {
    transform: $perspective rotateY(0deg);
  }
}
