.mareysScheduleChart {
  svg {
    font: 10px sans-serif;
  }

  .axis {
    path {
      display: none;
    }

    line {
      shape-rendering: crispedges;
      stroke: #000;
    }
  }

  .chartTitle {
    font-size: 15px;
  }

  .horizontalMarker {
    line {
      shape-rendering: crispedges;
      stroke: #ddd;
      stroke-dasharray: 1, 1;
    }

    text {
      text-anchor: end;
    }
  }

  .line {
    path {
      fill: none;
      stroke-width: 2.5px;
    }

    circle {
      stroke: #fff;
    }

    .blackLine {
      path {
        stroke: rgb(34 34 34);
      }

      circle {
        fill: rgb(34 34 34);
      }
    }

    .orangeLine {
      path {
        stroke: #d9b611;
      }

      circle {
        fill: rgb(183 116 9);
      }
    }

    .redLine {
      path {
        stroke: rgb(192 62 29);
      }

      circle {
        fill: rgb(192 62 29);
      }
    }
  }
}
