.mareysScheduleChart {
  svg {
    font: 10px sans-serif;
  }

  .axis path {
    display: none;
  }

  .axis line {
    shape-rendering: crispEdges;
    stroke: #000;
  }

  .chartTitle {
    font-size: 15px;
  }

  .station line {
    shape-rendering: crispEdges;
    stroke: #ddd;
    stroke-dasharray: 1, 1;
  }

  .station text {
    text-anchor: end;
  }

  .train path {
    fill: none;
    stroke-width: 2.5px;
  }

  .train circle {
    stroke: #fff;
  }

  .train .tN path {
    stroke: rgb(34, 34, 34);
  }

  .train .tN circle {
    fill: rgb(34, 34, 34);
  }

  .train .tL path {
    stroke: rgb(183, 116, 9);
  }

  .train .tL circle {
    fill: rgb(183, 116, 9);
  }

  .train .tB path {
    stroke: rgb(192, 62, 29);
  }

  .train .tB circle {
    fill: rgb(192, 62, 29);
  }
}
