.bars-3dimensional-chart
  padding 50px
  svg {
    width: 395px;
    height: 245px;
  }


  .buttons {
    position: relative;
    overflow: visible; 
  }

  .buttons a {
    border-bottom: 5px solid;
    color: #000;
    text-decoration: none;
  }

  .buttons a:hover {
    color: #999;
    text-decoration: none;
  }

  .prediction_1 a{
    border-bottom-color: #C1272D;
  }

  .prediction_2 a{
    border-bottom-color: #7F3A7F;
  }

  .prediction_3 a{
    border-bottom-color: #51A8D0;
  }