.force-chart
  .link-curved
    fill: none;
    stroke-width: 1.5px;
    stroke: #666;

  circle
    fill: #9c9;
    stroke-width: 1.5px;
    stroke: #fff;

  text
    fill: #999;
    font: 20px sans-serif;
    pointer-events: none;

  .node text
    fill:#000;
    font-size:12px;
